[Unit]
Description=Restore the default target after OS Upgrade fails
OnFailure=emergency.target
OnFailureJobMode=isolate
SuccessAction=reboot

[Service]
Type=oneshot
ExecStartPre=-systemctl disable os-upgrade.service
ExecStart=systemctl set-default $(head -n1 /var/lib/os-upgrade/DEFAULT || echo multi-user.target)
